@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/v7_6.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
}

header.container {
    text-align: center;
    padding: 20px;
}

.cabeçalho img {
    max-width: 100%;
    height: auto;
}

.cabeçalho h1 {
    font-size: 2.5em;
    margin-top: 10px;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* Ocupa o espaço restante para empurrar o footer para baixo */
}

.descricao-meta {
    text-align: center;
    margin-bottom: 20px;
}

/* Contêiner da barra de pesquisa e botão */
.search-container {
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
    gap: 10px; /* Espaçamento entre o campo de pesquisa e o botão */
    margin-top: 10px;
}

/* Caixa de pesquisa */
#campo-pesquisa {
    width: 50%; /* Reduz a largura da caixa de pesquisa */
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Botão de pesquisa */
#searchButton {
    padding: 10px 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#searchButton:hover {
    opacity: 0.9;
}

/* Resultados da pesquisa */
.resultados-pesquisa {
    width: 60%; 
    margin-top: 20px;
    /* biome-ignore lint/suspicious/noShorthandPropertyOverrides: <explanation> */
    margin: 0 auto; 
    text-align: left; 
    /* biome-ignore lint/a11y/useGenericFontNames: <explanation> */
    font-family: 'roboto';

}

.item-resultado {
    display: flex;
    background-color: #82b1ddbf;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
}
h1, h2, .descricao-meta{
    font-family: 'Pirata One', sans-serif;
    text-align: center;
    color: #970505; /* Cor do texto */
    font-size: 20px;
}
.descricao-meta {
    text-align: center;
}
h1 {
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Subtítulo */
h2 {
    font-size: 2.2em;
    margin-bottom: 15px;
}

/* Parágrafos */
p {
    font-size: 1.2em;
    color: #000000;
    text-align: left; /* Garante que o parágrafo fique centralizado */
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.6;
}
.footerText{
    text-align: center;
}

.box-resultado {
    display: flex;
    align-items: center;
    width: 100%;
}

.box-img-personagem img {
    max-width: 300px;
    border-radius: 5px;
}

.box-info-total {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 20px;
}

.box-info h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.box-info p, .info-fruta p {
    margin: 5px 0;
}

.box-img-fruta img {
    max-width: 100px;
    border-radius: 5px;
    margin-top: 5px;
}

footer {
    background-color: #82b1ddbf;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    width: 100%;
    margin-top: auto; 

}
